
.flexcontainer {
    display: flex;
    background-color: rgb(212, 216, 218);
}
.item1 {
    text-align: center;
    position: absolute;
    top: auto;
    right: 1%;
}
    h2 {
    margin: 0px;
    background-color: rgb(177, 185, 181);
    width: 400px;
    padding: 10px;
    border: 10px red;
}

.imgcontainer {
    margin: 0px;
    background-color: rgb(218, 222, 225);
    height: 275px;
    line-height: 250px;
    margin: 0px;
}
.img {
    margin: 0px;
    width: 250px;
    vertical-align: middle;
}